/*
WAM - CSI (Customer Service Interface)
CSS Document
*/

/*Add Fonts*/
@font-face {
  /* font-fami÷ly:FontAwesome;src:url(../fonts/fontawesome-webfont.eot?v=4.5.0);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0) format("embedded-opentype"),url(../fonts/fontawesome-webfont.woff2?v=4.5.0) format("woff2"),url(../fonts/fontawesome-webfont.woff?v=4.5.0) format("woff"),url(../fonts/fontawesome-webfont.ttf?v=4.5.0) format("truetype"),url(../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular) format("svg");font-weight:400;font-style:normal; */
}

/* @font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'latosemibold';
    src: url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
         url('../fonts/lato-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

*{margin:0; padding:0;}

body {
  background:#f1f1f1;
  font-size:14px; line-height:20px; color:#777;  font-family: 'latoregular';box-sizing: border-box;
}

body p{margin-bottom:15px;}
body p:last-child{margin-bottom:0;}
.clearfix{clear: both;}

select, input, a{outline:none;}

h1{font-family: 'latobold'; color:#fff; font-size:26px; line-height: 36px;}
h1 span, h2 span{color:#ccc;}
h2{margin-bottom:25px; font-family: 'latobold'; color:#2F3773; font-size:18px; }

.align-center{text-align: center;}
.align-left{text-align: left;}
.align-right{text-align: right;}

strong{color:#2098d1;}
.display-non{
  display: none;
}
.none-core-link{
  width: 100% !important;
  font-size: 15px !important;
  color: #007ab6 !important;
  display: initial !important;
  background-color:white;
  padding: 0px !important;
  line-height: 50px;
  margin-left: 50%;
}

header{background: #fff; box-sizing: border-box; z-index: 1;}
header .logo{width:125px; margin: 0 auto; margin-bottom: 10px; display:block;}
header .logo img{width:100%; height:auto; display: block;}
header .rightCont{width:100%; text-align: center;}
footer{text-align: center;color:#9fa7ae;padding:10px 15px; background: #2f373e; font-size: 14px; line-height: 18px;}

ul.header li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  font-family: 'latobold';
  text-transform:uppercase;
  font-size:12px;
  line-height:16px;
  cursor: pointer;
  padding:10px;
}
ul.header li:hover{
  /* background: #f1f1f1; */
}
ul.header li:first-child::before{
  /* content:"\f002"; */
   font-family:FontAwesome; margin-right: 8px; 
   color:#d0d0d0; 
   line-height: 16px;}
ul.header li:first-child:hover::before{
  /* color:#2098d1; */
}
ul.header li:last-child{width:100%;}
ul.header li:last-child{font-family: 'latobold'; color:black; cursor:pointer;
   /* background: #2098d1;  */
    display:block;}
ul.header li a {color: #d0d0d0;font-weight: bold;text-decoration: none;display: inline-block;}
ul.header li:hover a{color:#2098d1;}

/*search*/
.bauSelect{position: relative;  font-size: 20px; line-height:26px;}
.bauSelect form{ font-size:16px; line-break: 22px; margin-top:20px;}
.bauSelect form label, .bauSelect form select{display:inline-block;}
.bauSelect form select{border:1px solid #ccc;margin-left:10px; background: #f1f1f1;}
.bauSelect form label{color:#2098d1; font-family: "latobold";}

.bauForms{padding:35px 20px; box-sizing: border-box; background: #fff;  border:1px solid #ccc;border-top:10px solid #ccc; margin:40px 0; }
.bauForms strong{font-size: 16px; line-break: 20px;}
.bauForms form{width:100%; 
  /* margin-top:25px; */
}
.bauForms form input{width:100%; box-sizing: border-box; 
  /* border:none;  */
  /* border:1px solid #ccc; */
}
.bauForms.red{border-color:#cc0000;}

.profileForms{padding:0px 20px 30px 20px; box-sizing: border-box; background: #fff;  border:1px solid #ccc; margin:40px; }
.profileForms strong{font-size: 16px; line-break: 20px;}
.profileForms form{width:100%; margin-top:25px;}
.profileForms form input{width:100%; box-sizing: border-box; border:none; border:1px solid #ccc;}
.change-userID-input{width: 50% !important}
.profileForms.red{border-color:#cc0000;}

.messagePanel{padding:0 15px 10px; margin-bottom:15px; text-align: center; display:none;}
.red .messagePanel{color:#cc0000; display:block;}
input, select{color:#585858; padding:6px; font-size:16px; line-height: 22px;}
.trProfileInput{
  width: 200px;
}
select {padding:8px;width: 75%}
.select-tra {width: 73% !important;margin-bottom: 10px;}
.select-tra-enroll {width: 100% !important;margin-bottom: 10px;}

.tr-span-check{padding-left: 5%}
.select-aah-profile{padding:6px;width: 66% !important}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#ccc;
  opacity: 1; /* Firefox */
}
.center{
  text-align: center;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#ccc;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color:#ccc;
}

button{display:inline-block; margin:0 0 0 10px; font-size:15px; line-height: 22px; background: #007ab6; border:none; 
  /* border-left:5px solid #2098d1;  */
  padding:12px 20px;color:#f1f1f1; text-transform:uppercase; cursor:pointer;}

.bttns{box-sizing: border-box; text-align: right; position: relative;  margin-top:35px;border-top:2px dotted #2098d1; padding:35px 0 0}
.bttns button{display:inline-block; margin:0 0 0 10px; font-size:16px; line-height: 22px; background: #007ab6; border:none;
   /* border-left:5px solid #2098d1; */
    padding:12px 20px;color:#f1f1f1; text-transform:uppercase; cursor:pointer;}
.bttns button.enroll{background: #f1f1f1; color:#ccc;}
.bttns button.enroll:hover{background: #ccc; color:#fff;}
.bttns button:hover{background: #000;}
.bttns .resetbtn{position: absolute; left:0; top:44px; font-weight: bold; cursor: pointer;}
.bttns .resetbtn::before{content: "\f021"; font-family:FontAwesome; margin-right:5px;color:#2098d1;}

.main-search{
  background: #f1f1f1;
  color: #ccc;
}
.sep-enroll-head{
    padding: 12px;
    font-size: 16px;
    line-height: 22px;
  }
      .sep-enroll-left{
        padding-left: 20px;
      }
.titleBox1{padding:10px 0; width:100%; color:#f1f1f1; text-align: center; 
 background-color: #6699CC}

.titleBox{margin-top: 13%;padding:10px 0; width:100%; color:#f1f1f1; text-align: center; margin-bottom: 40px; background-color: #6699CC}
.titleBox p{margin:5px 0 10px;}

.appList{text-align: center; margin-bottom: 30px;}
.appList li{display: inline-block; cursor: pointer; color:#fff; margin: 0 4px; padding: 5px; font-size:12px; line-height: 14px; width:100px; height:60px; vertical-align:top; padding: 5px 15px;}
.appList li span{display: block; color:#fff;}
.appList li a {text-decoration: none;color:#fff;line-height: 22px;font-size: 12px;line-height: 14px;}
.appList a:hover, .appList li.active{background: #007ab6}

.enroll{
  margin-bottom: 10px;
}
.aah-profile-input{
  padding: 6px;
}
.error{
  background: #f2d9df;
  color: black;
  position: relative;
  font-family: 'latoregular';
  font-size: 14px;
  line-height: 20px;
  margin-top: -1px;
  display: block;
  padding: 3px;
  border-style: solid;
  border-width:1px; 
  border-color: #b81237;
}

.success{
  position: relative;
  font-family: 'latoregular';
  font-size: 14px;
  line-height: 20px;
  margin-top: -1px;
  display: block;
  padding: 3px;
  border-width:1px; 
  color: black;
  background: #d7f3ba;
  border-style: solid;
  border-color: #3c763d;
}
.menu-top{
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

a{
  display: inline-block; cursor: pointer; 
  background: #ccc; 
  color:rgb(194, 137, 137); 
  margin: 0 4px; 
  padding: 5px; 
  font-size:12px; 
  line-height: 14px; 
  width:100px; 
  height:60px; 
  vertical-align:top; 
  padding: 5px 15px;
}  
header a {background: none}
a.activeNavLink {
  /* font-weight: bold; */
  background-color: #007ab6;
  /* font-size: 18px; */
  list-style-type: none;
}
.OrBlock{text-align: center; margin:0 auto; margin-top:25px; margin-bottom:25px; position: relative; border-bottom: 1px solid #ccc; width: 100px;}
.OrBlock strong{    color: #000;
  position: absolute;
  background: #fff;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 27px;
  margin: 0 auto;}

/**media Queries**/
@media screen and (min-width: 768px)
{
	body{font-size:16px; line-height:22px;}
  
  h1{font-size: 30px; line-height: 36px;}
  
	header{text-align:left; position: fixed; width: 100%;top:0;height: 67px;}
  header b{position:absolute;}
  .b_content{margin-top:-100px;}  

  footer{position: fixed; width: 100%; bottom: 0;}
	
  ul.header{text-align:right;}
  ul.header li{padding: 23px 15px; border-bottom: 3px solid #fff;}
  ul.header li:hover{border-color:#2098d1}
  ul.header li:last-child{width:auto; display:inline-block; 
    /* border-bottom: 3px solid #2098d1; */
  }
  ul.header li{font-size:14px; line-height:18px;}
    
  .bauForms{width:580px; margin:0 auto; margin-top:15px; margin-bottom: 40px;}
  header .logo{width:130px; margin-bottom: 0; float: left;height: 57px;padding: 5px 15px;}
  header .rightCont{max-width: 500px; float: right;}
}

@media screen and (min-width: 987px)
{   
    /*search*/
    .bauSelect form{position: absolute;right:0;top:-75px; margin-top:0;}

    .row .rowBlocks{display:inline-block; width:45%;} 
    .row .OrBlock{display:inline-block; display: inline-block;
      width: 8%;
      margin: 5px 1%;}
}

/* .table {
  width: 100%;
} */

.service-col1{
  margin-left: 6%;
}
.service-col2{
  margin: 1% 20% 0%;
}
.profile-head-left{
  /* margin-left: 6%; */
  font-size: 18px;
}

.profile-head-right{
  margin-left: 29%;
  font-size: 18px;
}

.myfa-head-right{
  margin-left: 37%;
}

.profile-head-color{
  color: black;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.bold{
  font-weight: bold;
}
/* table css */
/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 0px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.service-function{
  width: 18%;
}
.orColor {
  font-weight:bold;
	margin-left :50%
}
.divTableCell a{
  background: none;
  font-size: 16px;
  margin: 0px;
  height: 20px;
  color: #777;
  padding: 0px;
}
table{
  width: 100%;
  line-height: 25px;
  padding-top: 10px;
}
tr th {
  text-align: left;
}
.td1{
  width: 20%;
}
.tra-td1{
  width: 15%;
}
.td2{
  width: 25%;
}
.td3{
  width: 55%;
}
.myfa-td3{
  width: 44%;
}
.myfa-td3-enroll{
  width: 30%;
}
.myfa-profile-padding{
  padding-left: 10px;
}
.maring{
  margin: 0px !important;
}
.partner-Info-td1{
  width: 20%;
}
.partner-Info-td2{
  width: 30%;
}
.font-size16{
  font-size: 16px;
}
.enroll-radio{
  width: 3% !important;
}
.email-accept{
  width: 79% !important;
}
.myfa-cguserid-footer{
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.btn-gray{
  background: gray !important;
}
.myfa-sub-btn{
  margin-left: 12%;
}

.width-checkbox{
  width: 3% !important;
  margin-top: 20px;
}

.flot-left-left{
  float: left;
  width: 35%;
}
.flot-left{
  float: left;
  width: 40%;
}
.flot-left2per{
  margin-left: 2%;
}
.maring-left15{
  margin-left: 5%;
}
.rt-resizable-header-content{
  text-align: left;
}

.maring-leftRight15{
  margin-left: 3%;
  margin-right: 3%;
}